services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - .:/app
    working_dir: /app
    command: ["python3", "app/main.py"]
    ports:
      - "11232:11232"
    environment:
      - OLLAMA_HOST=http://host.docker.internal:11434